@font-face {
  font-family: Pokemon;
  src: url(./fonts/Pokemon\ Solid.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  --pokemon-yellow: #ffcb05;
  --pokemon-blue: #3c5aa6;
  --pokemon-dark-yellow: #c7a008;
  --pokemon-light-blue: #2a75bb;
  --default-dark: #141414;
  --default-light: #f5f5f5;
}
body {
  background: var(--default-dark);
  color: var(--default-light);
  font-family: "Roboto", sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Pokemon;
  font-weight: 300;
  font-size: 47px;
  margin: 4px 0px;
  letter-spacing: 4px;
  color: var(--pokemon-yellow);
  -webkit-text-stroke: 3px var(--pokemon-blue);
  line-height: 5rem;
}
.whosThatPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 7px solid var(--pokemon-blue);
  border-bottom: 7px solid var(--pokemon-dark-yellow);
  border-left: 7px solid var(--pokemon-dark-yellow);
}

.pokemonImg {
  background-color: var(--pokemon-dark-yellow);
  border-radius: 4px;
}
.pokemon-sprite {
  width: 8rem;
  transition-duration: 0.4s;
}
.pokemon-sprite-silhouette {
  filter: contrast(0) brightness(0);
}

.whosThatPokemon > h3 {
  font-family: Pokemon;
  font-weight: normal;
  color: var(--pokemon-yellow);
  -webkit-text-stroke: 2px var(--pokemon-blue);
  margin: 0px;
  font-size: 2rem;
  line-height: 2em;
  letter-spacing: 0.1rem;
}
.hidden {
  opacity: 0%;
}
form {
  margin: 15px 0px;
}

#text {
  border: 1px solid rgb(111, 111, 255);
  background: #fafaa1;
  color: var(--pokemon-blue);
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  padding: 2px 5px;
}

.submit {
  border: 1px solid var(--pokemon-blue);
  background-color: var(--pokemon-yellow);
  color: var(--pokemon-blue);
  font-size: 15px;
  font-weight: 700;
  border-radius: 50px;
  padding: 5px;
  transition-duration: 0.5s;
}

.submit:hover {
  background-color: var(--pokemon-blue);
  color: var(--pokemon-yellow);
}
.pokemonList {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}
.pokemon {
  display: flex;
  flex-direction: column;
  border: 6px solid var(--pokemon-dark-yellow);
  border-radius: 4px;
  width: 155px;
  min-width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 5px;
  transition-duration: 0.5s;
}

.pokemon > h4 > img {
  width: 20px;
  vertical-align: middle;
  filter: drop-shadow(0px 3px 2px #000000d4);
}
.pokemon > h4 {
  margin: -1px;
  background: var(--pokemon-blue);
  padding: 2px 0px;
}

.pokemon > img {
  margin: 5px;
  border-radius: 5px;
  background-color: var(--pokemon-dark-yellow);
}

.pokemon > p {
  margin: -1px;
  background: var(--pokemon-blue);
  padding: 5px 0px;
}
.pokeball {
  image-rendering: pixelated;
}

.pokeball.closed:hover {
  animation: wobble 0.8s;
  cursor: pointer;
}
.pokeball.closed:active {
  transform: scale(130%);
}
@keyframes wobble {
  0% {
    transform: rotate(0deg) scale(130%);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.pokemonButton {
  border: 1px solid var(--pokemon-blue);
  background-color: var(--pokemon-yellow);
  color: var(--pokemon-blue);
  font-size: 15px;
  font-weight: 700;
  border-radius: 50px;
  padding: 5px;
  margin: 2px 0px;
  transition-duration: 0.5s;
}

.pokemonButton:hover {
  background-color: var(--pokemon-blue);
  color: var(--pokemon-yellow);
}

.pokemonDetails {
  border: 4px solid var(--pokemon-yellow);
  background-color: var(--pokemon-light-blue);
  border-radius: 10px 0px;
  padding: 10px;
  margin: 15px 0px;
  min-width: 310px;
  transition-duration: 0.5s;
}
.pokeball.closed {
  width: 20px;
  margin: 0px 3px;
  vertical-align: middle;
}
.closeDetails {
  margin: 2px 0px;
  width: fit-content;
  transition-duration: 0.5s;
  padding: 4px;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  align-items: flex-start;
}

.closeDetails:hover {
  background-color: var(--pokemon-blue);
  cursor: pointer;
}
.pokeball.open {
  height: 35px;
  width: 25px;
  background: url(./images/pokeball_open.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 0.1s;
}
.pokeball.open:hover {
  background: url(./images/pokeball_closing.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.pokeball.open:active {
  background: url(./images/pokeball.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.closeDetails:active {
  border: 1px solid var(--pokemon-yellow);
}

.pokemonDetails > h2 {
  margin: 3px 0px;
}

.stats {
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  background-color: var(--pokemon-blue);
}

.stats > h3 {
  margin: 4px 2px;
}

.typeText {
  padding: 0px 5px;
  border-radius: 50px;
  border: 1px solid;
  text-shadow: 0px 0px 4px black;
  margin: 0px 3px;
}
